/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
   font-family: 'Handlee', cursive;
   font-size: 24px;
 }
 p {
 	font-family: 'Handlee', cursive;
 	font-size: 24px;
 }

body {
	background-image: url("weather.png");
}



#ancor {
	background-color: white;
	opacity: .5;
	border-radius: 25px;
}

.main-title {
	text-align: center;

}

.post-title{
	text-align: center;
}

.post-show{
	text-align:left;
}

#post-row{
	border-top: 1px solid #eee;
}

.paginate {
	text-align: center;
}







@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.container {
		width: 768px; 
	}
	.post-show, .post-date, .paginate{
		text-align:center;
	}
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	p, a{
		font-size:18px;
	}

	.post-show, .post-date, .paginate{
		text-align:center;
	}
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}


}